wget
nemo_toolkit[asr]>=2.dev
torch>=2
faster-whisper==1.0.0
transformers>=4.34
Unidecode
pandas
setuptools>=65
nltk
dora-search>=0.1.12
diffq>=0.2.1
einops
flake8
hydra-colorlog>=1.1
hydra-core>=1.1
ipython
julius>=0.2.3
lameenc>=1.2
museval
mypy
openunmix
pyyaml
submitit
torchaudio>=0.8,<2.3.1
tqdm
treetable
soundfile>=0.10.3

